{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Reset Password</h2>
            <hr />
            {% if template_data.message %}
              <div class="alert alert-success">
                {{ template_data.message }}
                  <br>
                <a href="{% url 'accounts.password_reset_confirm' %}" class="btn btn-primary mt-2">Reset Password Now</a>
              </div>
            {% endif %}
            {% if template_data.error %}
              <div class="alert alert-danger">{{ template_data.error }}</div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <label>Username:</label>
              <input type="text" name="username" class="form-control" required>
              <button type="submit" class="btn bg-dark text-white mt-2">Request Reset Token</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
